//- Declaration head
mixin head(pageTitle, description)
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title #{pageTitle} - BiblioBD
        if description
            meta(name='description' content=description)
        link(rel='apple-touch-icon' sizes='180x180' href='/favicons/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/favicons/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicons/favicon-16x16.png')
        link(rel='manifest' href='/favicons/site.webmanifest')
        link(rel='mask-icon' href='/favicons/safari-pinned-tab.svg' color='#5bbad5')
        link(rel='shortcut icon' href='/favicons/favicon.ico')
        meta(name='msapplication-TileColor' content='#da532c')
        meta(name='msapplication-config' content='/favicons/browserconfig.xml')
        meta(name='theme-color' content='#ffffff')
        link(rel="stylesheet" href="css/styles.css")

//- navbar coté administration
mixin nav(current)
    nav.navbar.navbar-expand-md.bg--green.navbar-dark
        div.container
            a.navbar-brand(href='admin.html')
                img(src="images/library.png" alt="Logo" width="60")
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#collapsibleNavbar
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href="admin.html" class=(current == 'admin.html' ? 'active' : '')) Tableau de bord
                    li.nav-item
                        a.nav-link(href="books.html" class=(current == 'books.html' ? 'active' : '')) Saisie
                    li.nav-item
                        a.nav-link(href="borrowings.html" class=(current == 'borrowings.html' ? 'active' : '')) Prets/Retours 
                    li.nav-item
                        a.nav-link(href="acquisition.html" class=(current == 'acquisition.html' ? 'active' : '')) Achats
                ul.navbar-nav.d-inline
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Mon compte
                        div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                            a.dropdown-item(href="account.html") Paramètres
                            a.dropdown-item(href="index.html") Se déconnecter

//- navbar coté client
mixin header(current)
    header.container-fluid.px-0
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.h-100
            img(src="images/library.png" alt="Logo" height="24")
            a.navbar-brand.pl-1(href='index.html') BiblioBD
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggler', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarToggler.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                    li.nav-item
                        a.nav-link(href="createAccount.html" class=(current == 'createAccount.html' ? 'active' : '')) S'inscrire
                    li.nav-item
                        a.nav-link(href="borrow.html" class=(current == 'borrow.html' ? 'active' : '')) Emprunter
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Se connecter
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='connectionLec.html') Lecteur
                            .dropdown-divider
                            a.dropdown-item(href='connection.html') Administrateur
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type='search', placeholder='Rechercher')
                    button.btn.btn-outline-light.my-2.my-sm-0(type='submit') Lancer

//- encart marketing avec lien vers les nouveautés
mixin jumbotron
    .jumbotron.jumbotron--green.rounded-0
        h2 Les nouveautés sont arrivées !
        p.lead
            | Il y a de tous les style : bande dessinée, roman graphique, manga,.... Et pour tous les goûts : science fiction, policier, tranche de vie, historique,...
        a.btn.btn-outline-light(href='#', role='button') Consulter les nouveautés

//- 3 dernières colonnes du tableau des dernières notices saisies, avec les bouton editer, supprimer et prévisualiser
mixin tableBtn(url, urlPrev)
    td.text-center
        a(href=url aria-label="editer")
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' height="32px" width="32px")
                path(d='M352.459 220c0-11.046-8.954-20-20-20h-206c-11.046 0-20 8.954-20 20s8.954 20 20 20h206c11.046 0 20-8.954 20-20zM126.459 280c-11.046 0-20 8.954-20 20s8.954 20 20 20H251.57c11.046 0 20-8.954 20-20s-8.954-20-20-20H126.459z')
                path(d='M173.459 472H106.57c-22.056 0-40-17.944-40-40V80c0-22.056 17.944-40 40-40h245.889c22.056 0 40 17.944 40 40v123c0 11.046 8.954 20 20 20s20-8.954 20-20V80c0-44.112-35.888-80-80-80H106.57c-44.112 0-80 35.888-80 80v352c0 44.112 35.888 80 80 80h66.889c11.046 0 20-8.954 20-20s-8.954-20-20-20z')
                path(d='M467.884 289.572c-23.394-23.394-61.458-23.395-84.837-.016l-109.803 109.56a20.005 20.005 0 00-5.01 8.345l-23.913 78.725a20 20 0 0024.476 25.087l80.725-22.361a19.993 19.993 0 008.79-5.119l109.573-109.367c23.394-23.394 23.394-61.458-.001-84.854zM333.776 451.768l-40.612 11.25 11.885-39.129 74.089-73.925 28.29 28.29-73.652 73.514zM439.615 346.13l-3.875 3.867-28.285-28.285 3.862-3.854c7.798-7.798 20.486-7.798 28.284 0 7.798 7.798 7.798 20.486.014 28.272zM332.459 120h-206c-11.046 0-20 8.954-20 20s8.954 20 20 20h206c11.046 0 20-8.954 20-20s-8.954-20-20-20z')
    td.text-center
        a(href="#" aria-label="supprimer")
            svg(xmlns='http://www.w3.org/2000/svg'  viewBox='-47 0 512 512' height='32px' width='32px')
                path(d='M416.88 114.44l-11.31-33.89a31.53 31.53 0 00-29.94-21.57h-95.01V28.04A28.07 28.07 0 00252.59 0h-87a28.07 28.07 0 00-28.04 28.04v30.94h-95A31.53 31.53 0 0012.6 80.55l-11.3 33.9a25.43 25.43 0 003.48 22.85 25.43 25.43 0 0020.58 10.54h11.82l26 321.6C65.12 493.3 85.37 512 109.3 512h204.87c23.92 0 44.17-18.7 46.1-42.56l26.01-321.6h6.54c8.14 0 15.83-3.95 20.58-10.54a25.43 25.43 0 003.49-22.86zM167.54 30h83.07v28.98h-83.07zm162.8 437.02a16.36 16.36 0 01-16.2 14.98H109.3c-8.4 0-15.52-6.58-16.2-14.98L67.27 147.84h288.9zM31.8 117.84l9.27-27.8c.21-.63.81-1.06 1.49-1.06h333.08c.67 0 1.27.43 1.48 1.07l9.27 27.79zm0 0')
                path(d='M282.52 465.96l.79.02a15 15 0 0014.96-14.22l14.09-270.4a15 15 0 00-29.96-1.56l-14.08 270.4a15 15 0 0014.2 15.76zm0 0M120.57 451.8a15 15 0 0029.95-1.64l-14.75-270.4a15 15 0 10-29.95 1.63zm0 0M209.25 465.98a15 15 0 0015-15v-270.4a15 15 0 10-30 0v270.4a15 15 0 0015 15zm0 0')
    td.text-center
        a(href=urlPrev aria-level='2')
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480.61 480.61' height="32px" width="32px")
                path(d='M85.28 192.5h200v30h-200z')
                path(d='M439.1 480.6l21.22-21.2-71.35-71.36a101 101 0 0019.95-60.37c0-40.66-24.03-75.81-58.64-92V108.78L241.5 0H20.28v445h330v-25.31c6.2-2.9 12.04-6.4 17.48-10.43l71.35 71.35zM250.29 51.22l48.8 48.79h-48.8V51.21zM50.28 30h170v100h100v96.96a101.35 101.35 0 00-90.68 35.54H85.3v30h126.85a101.05 101.05 0 00-6.17 40H85.28v30h126.73a102.1 102.1 0 0043.64 52.5H50.28V30zm257.1 369.2c-39.43 0-71.52-32.08-71.52-71.52s32.08-71.54 71.53-71.54 71.53 32.1 71.53 71.54-32.09 71.53-71.53 71.53z')

//- Page d'édition d'une notice
mixin book(title, id, tomeTitle, tomeNumber, author, year, editor, image, imageAlt, abstract, preview)
    div.container.bg-light.my-4.rounded
        h1.pt-3 Edition du document
        form(action='validate.html')
            div.form-row
                div.form-group.col-md-10
                    label(for='c5') Titre : 
                    input#c5.form-control(type='text' name='title' value=title) 
                div.form-group.col-md-2
                    label(for='c1') Identifiant
                    input#c1.form-control(type='text' disabled='' size='4' value=id)
            div.form-row
                div.form-group.col-md-10
                    label(for='c6') Titre du tome : 
                    input#c6.form-control(type='text' name='tomeTitle' value=tomeTitle)
                div.form-group.col-md-2
                    label(for='c7') Num&eacute;ro du tome : 
                    input#c7.form-control(type='text' name='tomeNumber' size='3' value=tomeNumber)
            div.form-row
                div.form-group.col-md
                    label(for='c15') Auteur(s) : 
                    input#c15.form-control(type='text' name='author' value=author)
                div.form-group.col-md
                    label(for='c20') Ann&eacute;e de publications : 
                    input#c20.form-control(type='text' name='publicationY' value=year)
                div.form-group.col-md
                    label(for='c25') Editeur : 
                    input#c25.form-control(type='text' name='editor' value=editor)
            div.form-row
                div.col-md
                    label(for='c10') Couverture : 
                    input#c10.form-control(type='file' name='img')
                    button.btn.btn-outline--green.text-center.my-3(type="button" data-toggle="modal" data-target="#picture") Aperçu de l'image
                    div.modal.fade(id="picture" tabindex="-1" aria-labelledby="picture" aria-hidden="true")
                        div.modal-dialog
                            div.modal-content
                                div.modal-header
                                    h5.modal-title Aperçu de l'image
                                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") &times;
                                div.modal-body.mx-auto
                                    img.img--modal(src=image alt=imageAlt)
                                div.modal-footer
                                    button.btn.btn--green(type="button" data-dismiss="modal") Fermer
            div.form-row
                div.form-group.mb-0.col-md
                    label(for='c30') R&eacute;sum&eacute; : 
                    textarea#c30.form-control(name='abstract' cols='60' rows='10') #{abstract}
                    button.btn.btn--red.text-center.my-3(type="button" data-toggle="modal" data-target="#save") Enregistrer
                    div.modal.fade(id="save" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="save" aria-hidden="true")
                        div.modal-dialog
                            div.modal-content
                                div.modal-header.mx-auto
                                    h5.modal-title NOTICE ENREGISTREE
                                div.modal-body.mx-auto
                                    button.btn.btn-outline--green.mr-3(type="button" data-dismiss="modal") Retour aux modifications
                                    a.btn.btn-outline--red(href="admin.html") Retour au tableau de bord
            div
                a.btn.btn-outline--green.mb-3(href=preview target='_blank') Aper&ccedil;u de la page

//- page de prévisualisation d'un livre côté client
mixin preview(title, tomeTitle, tomeNumber, author, year, editor, image, imageAlt, abstract)
    div.container.px-0
        .row.justify-content-center.m-4
            .col.bg--opacity.container-fluid.shadow-lg.my-4
                .row.p-4
                    .col-md-12.col-lg-6.pt-4.container
                        .row
                            .col-12
                                img.fluid.img--responsive.mx-auto(src=image alt=imageAlt)
                        .row.pt-4
                            .col-12.text-center
                                a.btn.btn-lg.btn--red.mt-4(href="#") Emprunter
                    article.col-sm-12.col-lg-6.pt-4
                        h1 #{title}
                        p #{tomeNumber} #{tomeTitle}
                        p.p--bold #{author}
                        p <i>#{editor}, #{year}</i>
                        p #{abstract}

mixin calendar
    .month
        ul
            li.prev &#10094;
            li.next &#10095;
            li
                | Octobre
                br
                span 2020
    ul.weekdays
        li Mo
        li Tu
        li We
        li Th
        li Fr
        li Sa
        li Su
    ul.days
        li
        li
        li
        li 1
        li 2
        li 3
        li 4
        li 
            span.active 5
        li 6
        li 7
        li 8
        li 9
        li 10
        li 11
        li 12
        li 13
        li 14
        li 15
        li 16
        li 17
        li 18
        li 19
        li 20
        li 21
        li 22
        li 23
        li 24
        li 25
        li 26
        li 27
        li 28
        li 29
        li 30

//- footer côté administration
mixin footer
    footer.text-muted.bg-dark
        div.p-2.p-md-3
            p.text-center.p-margin-0 BiblioBD &copy; Manon Jeuland - 2020

//- footer côté client
mixin footerCustomers
    footer.text-muted.bg-dark
        div.container.p-2.p-md-3
            .row.text-center
                .col-md
                    h4 Nous trouver
                    p
                        | Biblio BD 
                        br
                        | 10 cours des alliés
                        br
                        | 35 000 Rennes
                .col-md
                    h4 Nos horaires
                    p 
                        | Mardi, Jeudi et Vendredi : 10h-19h
                        br
                        | Mercredi et Samedi : 9h-17H
                        br
                        | Fermé le Lundi et Dimanche
                .col-md
                    h4 Nous suivre
                    .row.justify-content-center
                        .col-xs-4.ml-2.mr-4
                            a(href="https://www.instagram.com/bibchampslibres/?hl=fr" target="_blank")
                                img(src="images/instagram.png" alt="Logo instagram" width="32")
                        .col-xs-4.mr-4
                            a(href="https://www.facebook.com/bibchampslibres/" target="_blank")
                                img(src="images/facebook.png" alt="Logo instagram" width="32")
                        .col-xs-4.mr-4
                            a(href="https://twitter.com/BibChampsLibres?lang=fr" target="_blank")
                                img(src="images/twitter.png" alt="Logo instagram" width="32")

mixin script
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')

